@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #EAECEF;
  color: #3E4147;
  text-align: center;
  margin-top: 100px;
}

h1, h2, h3, h4, h5 {
  color: #CC4425;
}

h6 {
  font-style: italic;
}

#cards-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: space-around;
}

.card {
width: 300px;
margin: 5px;
}

.btn-group {
  margin-bottom: 20px;
}

i {
  pointer-events: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > button {
  margin-top: 20px;
}

#sort {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
